<div class="camp-buttons">

  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="roofStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Roof Up</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4  center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="leftSteadyUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="leftSteadyStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="leftSteadyDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Steady
            <br>
            (Left)</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4  center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="rightSteadyUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="rightSteadyStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="rightSteadyDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Steady
              <br>
              (Right)</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="dishUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="dishStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="dishDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Sat Dish</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="insideTvUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="insideTvStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="insideTvDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Inside
              <br>
              TV</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="outsideTvUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="outsideTvStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="outsideTvDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Outside
              <br>
              TV</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <button class="depth" type="button">&#8226;</button>
          </td>
          <td>
            <h1 class="button-label">Outside
              <br>
              Light</h1>
          </td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="entryStepUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="entryStepStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="entryStepDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Entry
              <br>
              Step</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="awningUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="awningStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="awningDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Awning</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

