<div class="camp-buttons">

  <br>
  <div class="row">
    <div class="col-md-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="roofStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Roof Up</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="roofStop()"><i class="glyphicon glyphicon-ban-circle"></i></button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="roofDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Roof Up</h1>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 110)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">LHS Steady Up</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 111)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">LHS Steady Down</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 112)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">RHS Steady Up</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 113)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">RHS Steady Down</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(2, 115)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">Dish Up</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 108)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">Dish Down</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 110)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">Inside TV Up</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 111)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">Inside TV Down</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 112)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">Outside TV Up</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 114)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">Outside TV Down</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button">&#8226;</button>
          </td>
          <td>
            <h1 class="button-label">Outside Light</h1>
          </td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 114)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">Entry Step Out</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(3, 115)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">Entry Step In</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 108)">&#x25B2;</button>
          </td>
          <td>
            <h1 class="button-label">Awning In</h1>
          </td>
        </tr>
        <tr>
          <td>
            <button class="depth" type="button" ng-click="click(4, 109)">&#x25BC;</button>
          </td>
          <td>
            <h1 class="button-label">Awning Out</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

