<div class="camp-buttons well">

  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.roofUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.roofStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.roofDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Roof Up</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4  center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.entryStepOut()"
                      ng-class="{active: $ctrl.entryStepStatus}" style="margin-top: 40%">Out
              </button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.entryStepIn()"
                      ng-class="{active: !$ctrl.entryStepStatus}">In
              </button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Entry
              <br>
              Step</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4  center-content">
      <!--<table>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<div class="btn-group-vertical xl">-->
              <!--<button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rightSteadyUp()">&#x25B2;</button>-->
              <!--<button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.rightSteadyStop()">&nbsp;</button>-->
              <!--<button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rightSteadyDown()">&#x25BC;</button>-->
            <!--</div>-->
          <!--</td>-->
          <!--<td>-->
            <!--<h1 class="button-label">Steady-->
              <!--<br>-->
              <!--(Right)</h1>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.dishUp()" style="margin-top: 40%">
                &#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.dishDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Sat Dish</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table style="margin-bottom: 40px">
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.insideTvUp()"
                      style="margin-top: 40%">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.insideTvDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Inside
              <br>
              TV</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.outsideTvUp()"
                      style="margin-top: 40%">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.outsideTvDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Outside
              <br>
              TV</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.awningUp()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.awningStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.awningDown()">&#x25BC;</button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Awning</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
      <table>
        <tr>
          <td>
            <div class="btn-group-vertical xl">
              <button type="button" class="btn btn-xl btn-primary" ng-class="{active: $ctrl.outsideLightStatus}"
                      ng-click="$ctrl.outsideLightOn()" style="margin-top: 40%">
                On
              </button>
              <button type="button" class="btn btn-xl btn-primary" ng-class="{active: !$ctrl.outsideLightStatus}"
                      ng-click="$ctrl.outsideLightOff()">
                Off
              </button>
            </div>
          </td>
          <td>
            <h1 class="button-label">Outside
              <br>
              Light</h1>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 center-content">
    </div>
  </div>
</div>

