<div id="topview">
  <div class="row top-row">
    <div class="col-sm-6">
      <h1 class="button-label pull-right">Compressor:</h1>
    </div>
    <div class="col-xs-3 text-center">
      <button class="depth" type="button" ng-class="{active: $ctrl.compressorStatus}"
              ng-click="$ctrl.compressorOn()">&#8226;</button>

      <h1 class="button-label">On</h1>
    </div>
    <div class="col-xs-3 text-center">
      <button class="depth" type="button" ng-class="{active: !$ctrl.compressorStatus}"
              ng-click="$ctrl.compressorOff()">&#8226;</button>

      <h1 class="button-label">Off</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="well left">
        <h1>Front Left Air Suspension</h1>
        <div class="row">
          <div class="col-xs-6">
            <img src="app/topview/t1.png">
          </div>
          <div class="col-xs-6">
            <div class="btn-group-vertical left xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsFrontP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.lhsFrontStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsFrontR()">&#x25BC;</button>
            </div>
            <h3 class="pressure-value right">{{$ctrl.gauges[0].value}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well right">
        <h1>Front Right Air Suspension</h1>
        <div class="row">
          <div class="col-xs-6">
            <h3 class="pressure-value left">{{$ctrl.gauges[1].value}}</h3>
            <div class="btn-group-vertical right xl pull-right">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsFrontP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.rhsFrontStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsFrontR()">&#x25BC;</button>
            </div>
          </div>
          <div class="col-xs-6">
            <img class="pull-right" src="app/topview/t2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="well left">
        <div class="row">
          <div class="col-xs-6">
            <img src="app/topview/t1.png">
          </div>
          <div class="col-xs-6">
            <div class="btn-group-vertical left xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsRearP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.lhsRearStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsRearR()">&#x25BC;</button>
            </div>
            <h3 class="pressure-value right">{{$ctrl.gauges[2].value}}</h3>
          </div>
        </div>
        <h1>Rear Left Air Suspension</h1>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well right">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="pressure-value left">{{$ctrl.gauges[3].value}}</h3>
            <div class="btn-group-vertical right xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsRearP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary middle" ng-click="$ctrl.rhsRearStop()">&nbsp;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsRearR()">&#x25BC;</button>
            </div>
          </div>
          <div class="col-xs-6">
            <img class="pull-right" src="app/topview/t2.png">
          </div>
        </div>
        <h1>Rear Right Air Suspension</h1>
      </div>
    </div>
  </div>
</div>
