<div id="topview">
  <div class="row">
    <div class="col-xs-6">
      <div class="well left">
        <h1>Front Left Air Suspension</h1>
        <div class="row">
          <div class="col-xs-6">
            <img src="app/topview/t1.png">
          </div>
          <div class="col-xs-6">
            <div class="btn-group-vertical left xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsFrontP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsFrontR()">&#x25BC;</button>
            </div>
            <h1 class="pressure-value right">10</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well right">
        <h1>Front Right Air Suspension</h1>
        <div class="row">
          <div class="col-xs-6">
            <h1 class="pressure-value left">10</h1>
            <div class="btn-group-vertical right xl pull-right">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsFrontP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsFrontR()">&#x25BC;</button>
            </div>
          </div>
          <div class="col-xs-6">
            <img class="pull-right" src="app/topview/t2.png" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="well left">
        <div class="row">
          <div class="col-xs-6">
            <img src="app/topview/t1.png">
          </div>
          <div class="col-xs-6">
            <div class="btn-group-vertical left xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsRearP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.lhsRearR()">&#x25BC;</button>
            </div>
            <h1 class="pressure-value right">10</h1>
          </div>
        </div>
        <h1>Rear Left Air Suspension</h1>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well right">
        <div class="row">
          <div class="col-xs-6">
            <h1 class="pressure-value left">10</h1>
            <div class="btn-group-vertical right xl">
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsRearP()">&#x25B2;</button>
              <button type="button" class="btn btn-xl btn-primary" ng-click="$ctrl.rhsRearR()">&#x25BC;</button>
            </div>
          </div>
          <div class="col-xs-6">
            <img class="pull-right" src="app/topview/t2.png">
          </div>
        </div>
        <h1>Rear Right Air Suspension</h1>
      </div>
    </div>
  </div>
</div>
