html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto' !important;
}

body, h1, h2, h3 {
  font-weight: 300
}

html {
  -webkit-tap-highlight-color: hsla(0,0,0,0);
  tap-highlight-color: hsla(0,0,0,0);
}
body {
  background-color: #363636;
  background-image:         linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25)),
  linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25));
  background-position:0 0, 2px 2px;
  background-size:4px 4px;
  h1 {
    color: white;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

//.navbar .nav li {
//  width: 100px; /* or whatever width you want for items */
//  display: inline-block;
//  float: none;
//}
//.navbar .nav {
//  float: none;
//  text-align: center;
//}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 20px;
  }
}

/* buttons */
button.depth {
  background: #444;
  border: none;
  border-radius: 80px;
  box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
  inset 0 0 2px 4px hsla(0,0%,0%,.2),
  inset 0 0 2px 6px hsla(0,0%,0%,.2),
  inset 0 0 1px 8px hsla(0,0%,0%,.5),
  inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
  inset 0 1px 1px 8px hsla(0,0%,100%,.25),
  inset 0 -30px 30px hsla(0,0%,0%,.2),
    0 -4px 8px 4px hsla(0,0%,0%,.5),
  0 10px 10px hsla(0,0%,0%,.25),
  0 0 2px 2px hsla(0,0%,0%,.2),
  0 0 2px 4px hsla(0,0%,0%,.2),
  0 0 2px 6px hsla(0,0%,0%,.2),
  0 0 2px 8px hsla(0,0%,0%,.5),
  0 1px 2px 8px hsla(0,0%,100%,.25),
    0 -1px 2px 8px hsla(0,0%,0%,.5);
  color: #303030;
  cursor: pointer;
  font: bold 40px/85px sans-serif;
  height: 80px;
  padding: 0;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25),
    0 -1px 1px hsla(0,0%,0%,.75);
  width: 80px;
}

button.depth:active {
  color: #0ab;
  text-shadow: 0 0 20px hsla(240,75%,75%,.5),
  0 1px 1px hsla(0,0%,100%,.25),
    0 -1px 1px hsla(0,0%,0%,.75);
}
button.depth:active {
  box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
  inset 0 0 2px 4px hsla(0,0%,0%,.2),
  inset 0 0 2px 6px hsla(0,0%,0%,.2),
  inset 0 0 1px 7px hsla(0,0%,0%,.5),
  inset 0 5px 15px 7px hsla(0,0%,0%,.15),
  inset 0 -4px 2px 3px hsla(0,0%,0%,.5),
  inset 0 1px 1px 7px hsla(0,0%,100%,.25),
  inset 0 -30px 30px hsla(0,0%,0%,.1),
  inset 0 30px 30px hsla(0,0%,0%,.2),
    0 -4px 8px 4px hsla(0,0%,0%,.5),
  0 5px 10px hsla(0,0%,0%,.25),
  0 0 2px 2px hsla(0,0%,0%,.2),
  0 0 2px 4px hsla(0,0%,0%,.2),
  0 0 2px 6px hsla(0,0%,0%,.2),
  0 0 2px 8px hsla(0,0%,0%,.5),
  0 1px 2px 8px hsla(0,0%,100%,.25),
    0 -1px 2px 8px hsla(0,0%,0%,.5);
  line-height: 86px;
}
/* buttons */


/* this will remove the weird grey border hat applied by the browsers user agent stylesheet */
/* !important must be specified as the user agent stylesheet gets applied last and will override any custom css*/
ul, menu, dir, button, * {
  :focus {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
}
//
//canvas {
//  width:100%;
//}


.camp-buttons {
  td {
    height: 110px ;
    h1.button-label {
      color:#cecece;
      margin-left: 25px;
      display: inline-block;
    }
  }
}


@menubackground: #333333;
@menuforeground: #cecece;

nav {
  text-align:center;
  width: 100%;
  background: @menubackground;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  height: 160px;//60px;
  position:relative;
  font-size: 105px;
}

nav ul {
  background: @menubackground;
  list-style:none;
  padding:0;
  margin: 0;
  height: 160px;//60px;
}


nav ul li {
  display: inline-block;
}


nav ul li a {
  color:#333333;
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 160px;//60px;
  line-height: 160px//60px;
}

nav ul li:hover {
  background: @menuforeground;
}


nav ul li:hover > a{
  color:#FFFFFF;
  background: @menuforeground;
}

nav ul li:hover > ul {
  display:block;
  background: @menuforeground;
}

nav ul ul {
  background: @menubackground;
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

#driving {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  h1.button-label {
    color:#cecece;
    margin-left: 25px;
    display: inline-block;
  }
  .row {
    height: 150px;
    line-height: 150px;
  }
  .well {
    //max-width: 1000px;
  }
}

a {
  text-decoration: none !important;
}
